
.background
{
   width: 400px;
   height: 550px;
  background-color: rgb(88, 233, 83);
   position: relative;
   left: 30%;
   padding-top: 10px;
}
.text
{
    display: block;
    text-align: center;
    background-color: yellow;
    padding-top: 10px;
}
.button 
{
    position: absolute;
    margin-left: 100px;
    margin-top: 20%;
}
.button button
{
    width: 90px;
    height: 30px;
    color: white;
    background-color: gray;
   
    
}
#record_code
{
    background-color: white;
    margin-top: 50%;
}